<ion-view title="home">

  <ion-header-bar align-title="center" >

    <h1 class="title">Following</h1>
    <div class="buttons">
      <a class="button button-icon ion-loop" ng-click="reset()"></a>
    </div>
  </ion-header-bar>

  <ion-content class="content_center">

  	<ion-refresher pulling-text="" on-refresh="doRefresh()"></ion-refresher>

    <a ng-href="#/tab/home/shot/{{ shot.id }}" ng-repeat="shot in data" class="shots" >


      <img src="{{ shot.images.teaser }}" alt="{{ shot.title }}">
      
      <div class="shots_info">
        <span class="shots_view"><i class="ion-eye"></i>{{ shot.views_count }}</span><!--
        --><span class="shots_comments"><i class="ion-chatbubble"></i>{{ shot.comments_count }}</span><!--
        --><span class="shots_likes"><i class="ion-heart"></i>{{ shot.likes_count }}</span>
      </div>
    </a>

    <ion-infinite-scroll on-infinite="loadMore()" distance="0%"></ion-infinite-scroll>

  </ion-content>

</ion-view>