<ion-view ng-controller="loginController">
 
    <ion-header-bar align-title="center" >
        <div class="buttons">
            <a ng-click="back()" class="button btn_icon"><i class="icons icon_back"></i></a>
        </div>
        <h1 class="title">Login</h1>
        <!-- <div class="buttons">
        <button class="button">Right Button</button>
        </div> -->
    </ion-header-bar>

    <ion-content class="content_center">

      <form name="loginForm" novalidate form-manager >

        <input ng-model="user.username" name="username" type="text" placeholder="Username" required>
        <button ng-click="submit()"> Log in </button>

      </form>

    </ion-content>

</ion-view>