<ion-view title="profil" edge-drag-threshold="false" drag-content="false">
 
    <ion-header-bar align-title="center" >
        <h1 class="title">Profil</h1>
    </ion-header-bar>

    <ion-content class="content_center">

        <p ng-if="login == false" id="notLogged">
            You need to connect to see your profil

            <a class="button button-positive">Log in</a>
        </p>

        <div id="profil" ng-if="login == true">
            <div id="profil_user">
                <img src="{{ user.avatar_url }}" alt="{{ user.name }}" class="bg">
                <img src="{{ user.avatar_url }}" alt="{{ user.name }}" class="user_avatar">
                <p class="user_name">{{ user.name }} <span class="user_pro" ng-if="user.pro == true">PRO</span></p>
                <p class="user_bio" ng-bind-html="user.bio | sanitize">{{ user.bio }}</p>
            </div>
            
            <div id="profil_counts">
                <div class="count">
                    <span>
                        <strong>{{ user.followers_count }}</strong>
                        <br>
                        <i class="icons icon_followers"></i> followers
                    </span>
                </div>
                <div class="count">
                    <span>
                        <strong>{{ user.followings_count }}</strong>
                        <br>
                        <i class="icons icon_followings"></i> followings
                    </span>
                </div>
                <div class="count">
                    <span>
                        <strong>{{ user.likes_count }}</strong>
                        <br>
                        <i class="icons icon_likes"></i> likes
                    </span>
                </div>
            </div>

            <ul class="list">
                <li>{{ user.location }}</li>
                <li><a ng-href="{{ user.links.web }}">{{ user.links.web }}</a></li>
                <li><a ng-href="{{ user.links.twitter }}">{{ user.links.twitter }}</a></li>
            </ul>

            <ul class="list">
                <a ng-href="#/tab/profil/shots" class="link_app"><li>Shots <span>{{ user.shots_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/followers" class="link_app"><li>Followers <span>{{ user.followers_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/followings" class="link_app"><li>Followings <span>{{ user.followings_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/buckets" class="link_app"><li>Buckets <span>{{ user.buckets_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/likes" class="link_app"><li>Likes <span>{{ user.likes_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/projects" class="link_app"><li>Projects <span>{{ user.projects_count }} <i class="ion-chevron-right"></i></span></li></a>
                <a ng-href="#/tab/profil/teams" class="link_app"><li>Teams <span>{{ user.teams_count }} <i class="ion-chevron-right"></i></span></li></a>
            </ul>
        </div>

    </ion-content>

</ion-view>