<ion-view ng-controller="profilController">
 
    <ion-header-bar align-title="center" >
        <div class="buttons">
            <a ng-click="back()" class="button btn_icon"><i class="icons icon_back"></i> Back</a>
        </div>
        <h1 class="title">{{ name }}</h1>
    </ion-header-bar>

    <ion-content class="content_center">

        <div id="profil">
            <img src="{{ avatar }}" alt="{{ name }}">
            <div id="profil_counts">
                <div class="count">
                    <span>
                        <strong>{{ followers }}</strong>
                        <br>
                        <i class="icons icon_followers"></i> followers
                    </span>
                </div>
                <div class="count">
                    <span>
                        <strong>{{ followings }}</strong>
                        <br>
                        <i class="icons icon_followings"></i> followings
                    </span>
                </div>
                <div class="count">
                    <span>
                        <strong>{{ likes }}</strong>
                        <br>
                        <i class="icons icon_likes"></i> likes
                    </span>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>