<ion-view ng-controller="shotController" title="shot">

    <ion-header-bar align-title="center" >
        <div class="buttons">
            <a ng-click="back()" class="button button-icon ion-chevron-left"></a>
        </div>
        <h1 class="title">{{ title }}</h1>
    </ion-header-bar>

    <ion-content class="content_center">
        <ion-refresher pulling-text="" on-refresh="doRefresh()">
        </ion-refresher>

        <div id="shot">

            <div id="shot_user">
                <img src="{{ userShot }}" alt="{{ comment.username }}">
                <span>{{ userName }}</span>
            </div>

            <img src="{{ shotImages }}" alt="{{ title }}">

            <div id="shot_counts">

                <div class="count">
                    <span>
                        <strong>{{ views }}</strong>
                        <br>
                        <img class="icons" ng-src="http://swishhhed.com/img/icon_views@2X.png"><span>views</span>
                    </span>
                </div>

                <div class="count">
                    <span>
                        <strong>{{ likes }}</strong>
                        <br>
                        <img class="icons" ng-src="http://swishhhed.com/img/icon_likes@2X.png"><span>likes</span>
                    </span>
                </div>

                <div class="count">
                    <span>
                        <strong>{{ comments }}</strong>
                        <br>
                        <img class="icons " ng-src="http://swishhhed.com/img/icon_comments@2X.png"><span>comments</span>
                    </span>
                </div>


                <div ng-if="description.length > 0" id="shot_description" ng-bind-html="description | sanitize">
                    <!-- {{ description }} -->
                </div>

            </div>

        </div>

        <div id="shot_comment">
            <div id="comment" ng-repeat="comment in comment">
                <div id="comment_user">
                    <img src="{{ comment.user.avatar_url }}" alt="{{ comment.username }}">
                    <span>{{ comment.user.name }}</span>
                </div>
                <p id="comment_description" ng-bind-html="comment.body | sanitize">{{ comment.body }}</p><!--
                --><span id="comment_likes" ng-bind-html="comment.likes_count"><!-- {{ comment.likes_count }} --></span>
            </div>
        </div>
       
        <!-- <span>{{ shot.title }}</span> -->
    </ion-content>

</ion-view>