<ion-view title="shot">
    <ion-header-bar align-title="center" >
        <a class="button button-icon ion-arrow-left-c" nav-direction="back" ng-click="goBack()"></a>
        <h1 class="title">Shot</h1>
        <a class="button button-icon lnr lnr-heart"  nav-direction="back" ng-click="like()"></a>
    </ion-header-bar>            
    <ion-content class="content_center">
        <div id="shot" ng-if="loaded == true">
            <div id="shot_user">
                <img ng-src="{{ shot.user.avatar_url }}" alt="{{ shot.user.username }}">
                <p>
                    <span class="title">{{ shot.title }}</span>
                    <br>
                    by <span class="username">{{ shot.user.username }}</span>
                </p>
            </div>
            <img ng-src="{{ shotImages }}" alt="{{ title }}">
            <ion-scroll direction="x" ng-if="shot.attachments_count > 0" id="shot_attachments"> 
                <img ng-repeat="attachment in attachments track by $index" src="{{ attachment.thumbnail_url }}" class="thumb" ng-click="showImages($index)">
            </ion-scroll>
            <div id="shot_counts">
                <div class="count">
                    <span>
                        <strong>{{ shot.views_count }}</strong>
                        <br>
                        <span>views</span>
                    </span>
                </div><div class="count">
                    <span>
                        <strong>{{ shot.likes_count }}</strong>
                        <br>
                        <span>likes</span>
                    </span>
                </div><div class="count">
                    <span>
                        <strong>{{ shot.comments_count }}</strong>
                        <br>
                        <span>comments</span>
                    </span>
                </div>
            </div>
            <div ng-if="shot.description.length > 0" id="shot_description" ng-bind-html="shot.description | sanitize">
                {{ shot.description }}
            </div>
        </div>
        <div ng-if="comment.length > 0" id="shot_comment" ng-if="loaded == true">
            <div class="comment" ng-repeat="comment in comment">
                <div id="comment_user">
                    <img src="{{ comment.user.avatar_url }}" alt="{{ comment.username }}">
                    <span>{{ comment.user.name }}</span>
                </div>
                <p id="comment_description" ng-bind-html="comment.body | sanitize">{{ comment.body }}</p>
            </div>
        </div>
    </ion-content>
</ion-view> 
    