<ion-view ng-controller="shotsController" title="home">

  <ion-header-bar align-title="center" >

    <h1 class="title">Shots</h1>

    <div class="buttons">
      <a class="button button-icon ion-gear-a" ng-click="popover.show($event)"></a>
    </div>
  </ion-header-bar>

  <ion-content class="content_center">
    <ion-refresher pulling-text="" on-refresh="doRefresh()">
    </ion-refresher>

    <a ng-href="#/shot/{{ shot.id }}" ng-repeat="shot in data" class="shots">

      <img src="{{ shot.images.teaser }}" alt="{{ shot.title }}">

    </a>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>

  </ion-content>

  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        
      <div class="select">
        <select ng-model="sort" ng-change="updateSort()" ng-options="sort.name for sort in sorts">
        </select>
        <i class="icon ion-ios-arrow-down"></i>
      </div>
      <div class="select">
        <select ng-model="list" ng-change="updateList()" ng-options="list.name for list in lists">
        </select>
        <i class="icon ion-ios-arrow-down"></i>
      </div>
      <div class="select">
        <select ng-model="time" ng-change="updateTime()" ng-options="time.name for time in times">
        </select>
        <i class="icon ion-ios-arrow-down"></i>
      </div>
    
      </ion-content>
    </ion-popover-view>
  </script>

</ion-view>