<ion-view title="shot-shots" >
    <ion-header-bar align-title="center" >
        <a href="#/tab/shots" class="button button-icon ion-chevron-left"> Back</a>
        <!-- <h1 class="title">{{ title }}</h1> -->
        
        <!-- <a class="button button-icon ion-heart action_like"></a>

        <a class="button button-icon ion-chatbubble action_comment"></a>
    
        <a class="button button-icon ion-share action_share"></a> -->
        
    </ion-header-bar>            

    <ion-content class="content_center">

        <div id="shot">

            <div id="shot_user">
                <img src="{{ userShot }}" alt="{{ comment.username }}">
                <p>
                    <span class="title">{{ title }}</span>
                    <br>
                    by <span class="username">{{ userName }}</span>
                </p>
                
            </div>

            <img src="{{ shotImages }}" alt="{{ title }}">

            <div id="shot_counts">

                <div class="count">
                    <span>
                        <strong>{{ views }}</strong>
                        <br>
                        <span>views</span>
                    </span>
                </div>

                <div class="count">
                    <span>
                        <strong>{{ likes }}</strong>
                        <br>
                        <span>likes</span>
                    </span>
                </div>

                <div class="count">
                    <span>
                        <strong>{{ comments }}</strong>
                        <br>
                        <span>comments</span>
                    </span>
                </div>

            </div>

            <div ng-if="description.length > 0" id="shot_description" ng-bind-html="description | sanitize">
                {{ description }}
            </div>

        </div>

        <div ng-if="comment.length > 0" id="shot_comment">
            <div class="comment" ng-repeat="comment in comment">
                <div id="comment_user">
                    <img src="{{ comment.user.avatar_url }}" alt="{{ comment.username }}">
                    <span>{{ comment.user.name }}</span>
                </div>
                <div id="comment_description" ng-bind-html="comment.body | sanitize">{{ comment.body }}</div>
            </div>
        </div>
    </ion-content>

</ion-view> 
    