<ion-view title="shots" edge-drag-threshold="false" drag-content="false">
  <ion-header-bar align-title="center" class="noborder">
    <h1 class="title">Shots</h1>
    <!-- <div class="buttons">
      <a class="button button-icon lnr lnr-sync" ng-click="doReset()"></a>
    </div> -->
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a ng-click="changeShots('popular')" class="button selected" id="popular">Popular</a>
      <a ng-click="changeShots('recent')" class="button" id="recent">Recent</a>
    </div>
  </div>
  <ion-content class="content_center has-subheader" has-bouncing="true">
    <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doReset()"></ion-refresher> -->
    <div id="shots">
      <a ng-href="#/shots/{{ shot.id }}"  nav-direction="forward" ng-repeat="shot in data track by $index" class="shots" >
        <!-- <span ng-if="shot.attachments_count > 0" class="attachment"><i class="lnr lnr-paperclip"></i></span> -->
        <!-- <span ng-if="shot.rebounds_count > 0" class="rebound"><i class="ion-forward"></i></span> -->
        <img preload-src="img/preload_shot.jpg" ng-src="{{ shot.images.normal }}" alt="{{ shot.title }}">
        <div class="shots_info">
          <span class="shots_view"><strong>{{ shot.views_count }}</strong>views</span><!--
         --><span class="shots_comments"><strong>{{ shot.comments_count }}</strong>comments</span><!--
         --><span class="shots_likes"><strong>{{ shot.likes_count }}</strong>likes</span>
        </div>
      </a>
      <ion-infinite-scroll on-infinite="loadMore()" distance="1%" icon="crescent"></ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>