<ion-tabs class="tabs-icon-only">
 
	<ion-tab title="home" icon="icon ion-home" href="#/tab/home">
		<ion-nav-view name="home"></ion-nav-view>
	</ion-tab>

	<ion-tab title="shots" icon="icon ion-image" href="#/tab/shots">
		<ion-nav-view name="shots"></ion-nav-view>
	</ion-tab>

	<ion-tab title="upload" icon="icon ion-upload" href="#/tab/upload">
		<ion-nav-view name="upload"></ion-nav-view>
	</ion-tab>

	<ion-tab title="profil" icon="icon ion-person" href="#/tab/profil">
		<ion-nav-view name="profil"></ion-nav-view>
	</ion-tab>
 
</ion-tabs>