<ion-tabs class="tabs-icon-top " animation="slide-left-right">
 
	<ion-tab title="home" icon="icon ion-home" href="#/tab/home">
		<ion-nav-view name="home"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="notification" icon="icon ion-gear-b" href="#/tab/notification">
		<ion-nav-view name="notification"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="profil" icon="icon ion-gear-b" href="#/tab/profil">
		<ion-nav-view name="profil"></ion-nav-view>
	</ion-tab>
 
 
</ion-tabs>