<ion-view title="user-teams" edge-drag-threshold="false" drag-content="false">

  <ion-header-bar align-title="center" class="noborder">
    <a href="#/tab/profil" class="button button-icon ion-arrow-left-c"></a>
    <h1 class="title">Teams</h1>
  </ion-header-bar>

  <ion-content class="content_center">
    <a ng-href="" ng-repeat="teams in teams track by $index" class="teams" >
      {{ teams }}
    </a>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>
  </ion-content>
  
</ion-view>